.header {
    position: relative;
}

.title {
    color: var(--clr-primary-font);
    font-size: var(--fs-title);
    white-space: nowrap;
    
    width: fit-content;
    
    background-color: var(--clr-primary-accent);
    box-shadow: 0.05rem 0.15rem 1rem 0.2rem var(--clr-shadow);
    border-radius: 0em 0em 0.5rem 0.5rem;
    padding: 0 2em 0 2em;
    margin-inline: auto;
}