.messageSpaceFailure {
  display: flex;

  align-items: center;
  max-width: 35ch;

  position: fixed;
  top: 1rem;
  left: 50%;
  translate: -50%;
  z-index: 10;

  padding: 0.3em 0.8em 0.3em 0;
  border-radius: 0.5rem;
  border: 0.1rem solid hsl(96, 4%, 25%);

  background-color: #ec5656;
  color: #320b0b;
  text-align: center;
  font-family: var(--ff-secondary);
  font-size: 0.8rem;

  transition: top 2s ease-in;
}

.messageSpaceSuccess {
  display: flex;

  align-items: center;
  max-width: 20rem;

  position: fixed;
  top: 1rem;
  left: 50%;
  translate: -50%;
  z-index: 10;

  padding: 0.3em 0.8em 0.3em 0;
  border-radius: 0.5rem;
  border: 0.1rem solid hsl(96, 4%, 25%);

  background-color: #96c061;
  color: #0b320b;
  text-align: center;
  font-family: var(--ff-secondary);
  font-size: 0.8rem;

  transition: top 2s ease-in;
}

.anim {
  width: 3rem;
  height: 3rem;
}