.ratingSliderSpace{
    text-align: center;

    padding: 0.8em;
}

.ratingSlider {
  -webkit-appearance: none;
  background: var(--clr-shadow);
  height: 0.5rem;
  border-color: black;
  border-radius: 0.5rem;
  margin-bottom: 1em;

  flex-grow: 1;
}

.ratingSlider:hover {
    box-shadow: 0.05rem 0.05rem 0.1rem var(--clr-shadow);
}

.ratingSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1rem;
  height: 1rem;
  background-color: var(--clr-primary-font);
  border-radius: 50%;
  cursor: pointer;
}

.ratingSlider::-webkit-slider-thumb:hover,
.ratingSlider::-webkit-slider-thumb:active {
    box-shadow: 0.05rem 0.05rem 0.5rem 0.2rem var(--clr-shadow);
}
